.feedSelector {
    background-color: #eee;
    position:         absolute;
    top:              60px;
    left:             10px;
    right:            10px;
    bottom:           10px;
    z-index:          2;
    border-radius:    0.25em;
    box-shadow:       0 0 10px rgba(0, 0, 0, 0.5);
    display:          flex;
    flex-direction:   column;
}

.list {
    flex:          1 0;
    overflow:      auto;
    border-radius: 0.25em;
}

.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color:   #F5F5F5;
}

.list::-webkit-scrollbar {
    width:            12px;
    background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb {
    border-radius:      3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color:   #ccc;
}

.btnBlock {
    flex:       0 0;
    padding:    4px;
    text-align: center;
}

.feed {
    display:          flex;
    background-color: #fff;
    margin:           2px;
    cursor:           pointer;
    position:         relative;
}

.feed:hover {
    background-color: #eee;
}

.isSelected {
    background-color: #069;
    color:            white;
}

.isSelected:hover {
    background-color: #069;
}

.feed > * {
    padding: 5px;
}

.avatar {
    flex: 0 0;
}

.avatar img {
    width:         32px;
    height:        32px;
    border-radius: 50%;
}

.texts {
    flex:        1 0;
    white-space: nowrap;
    overflow:    hidden;
}

.texts > * {
    width:         100%;
    text-overflow: ellipsis;
    overflow:      hidden;
}

.userName {
    font-size: 12px;
    opacity:   0.66;
}

.fav {
    position:      absolute;
    top:           6px;
    right:         4px;
    border-radius: 50%;
    opacity:       0.5;
}

.fav svg {
    width:  16px;
    height: 16px;
    float:  left;
}

.fav:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.isFavored .fav {
    opacity: 1;
    color:   #fc0;
}

